# Result files
results/

# Python cache
__pycache__/

# Temporary files
~$*.xlsx
scratch

# Development environment files
.idea/
.vscode/

# GAMS-output files (for comparison)
*.lst
LEGO*.log*
*.opt
*.log
*.lxi
*.gsp
*.gdx

# Model files
*.mps

# Standard output files for LEGO.py
*.sqlite
model.xlsx

# Operating system files
.DS_Store