# Result files
results/

# Python cache
__pycache__/

# Temporary files
~$*.xlsx

# Development environment files
.idea/

# GAMS-output files (for comparison)
*.lst
LEGO*.log*
*.opt
*.log
*.lxi
*.gsp

# Model files
*.mps