# Result files
results/

# Python cache
__pycache__/

# Temporary files
~$*.xlsx
scratch

# Development environment files
.idea/

# GAMS-output files (for comparison)
*.lst
LEGO*.log*
*.opt
*.log
*.lxi
*.gsp
LEGO-GAMS.mps

# Operating system files
.DS_Store